*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
}
/*=======================================================================================*/
.ppp{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
    width:300px;
    border: 1px solid blueviolet;
    
}
.ppp h3, p{
    text-align: center;
}
.res{
    display: flex;
    margin: 0;
    padding: 0;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 210px;

}
.ppp ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}
.ppp li img{
    width: 50px;
    margin: 0;
    padding: 0;
    
}
.ppp li{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ppp li:hover{
    width: 100%;
    background-color: rgba(186, 229, 243, 0.973);
    cursor: grab;
}


/*===================================MOBILE====================================================*/

@media (max-width: 560px){
    .ppp{
        width: 100%;
    }
}

/*=======================================================================================*/

/*=======================================================================================*/

/*=======================================================================================*/

/*=======================================================================================*/

/*=======================================================================================*/

/*=======================================================================================*/

/*=======================================================================================*/

/*=======================================================================================*/

/*=======================================================================================*/

/*=======================================================================================*/
